In [1]:
import pandas as pd
import requests


url="https://ko.wikipedia.org/wiki/%EC%9D%B8%EA%B5%AC%EC%88%9C_%EB%82%98%EB%9D%BC_%EB%AA%A9%EB%A1%9D"

In [2]:
wiki = pd.read_html('https://ko.wikipedia.org/wiki/%EC%9D%B8%EA%B5%AC%EC%88%9C_%EB%82%98%EB%9D%BC_%EB%AA%A9%EB%A1%9D')
wiki = wiki[0]
wiki

,0,1,2,3,4
0,1,중화인민공화국,1425880533,2022.0,공식 인구시계 세계에서 1번째로 인구가 많은 나라
1,2,인도,1406631781,2021.0,공식 인구시계
2,3,미국,334805268,2021.0,공식 인구시계
3,4,인도네시아,279134505,2021.0,공식 인구시계
4,5,파키스탄,229488996,2021.0,공식 인구시계
...,...,...,...,...,...
236,237,니우에,1520,NaN,NaN
237,238,토켈라우,1501,2021.0,연간 예측
238,239,바티칸 시국,825,2019.0,"월간 국가통계[10] 실거주자 453명, 비거주자 372명으로 세계에서 가장 인구가..."
239,-,코코스 제도,573,2020.0,공식 추산
240,-,핏케언 제도,46,2021.0,공식 추산[11] 세계에서 가장 인구가 적은 속령

In [3]:
wiki.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 241 entries, 0 to 240
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       241 non-null    object
 1   1       241 non-null    object
 2   2       241 non-null    int64
 3   3       110 non-null    float64
 4   4       97 non-null     object
dtypes: float64(1), int64(1), object(3)
memory usage: 9.5+ KB

In [4]:
wiki.drop([0,3,4],axis=1,inplace=True)

In [5]:
wiki.columns=['국가','인구']

In [6]:
wiki

          국가          인구
0    중화인민공화국  1425880533
1         인도  1406631781
2         미국   334805268
3      인도네시아   279134505
4       파키스탄   229488996
..       ...         ...
236      니우에        1520
237     토켈라우        1501
238   바티칸 시국         825
239   코코스 제도         573
240   핏케언 제도          46

[241 rows x 2 columns]

In [7]:
asia=['대한민국','몽골','일본','조선민주주의인민공화국','중화민국','중화인민공화국','동티모르','라오스',\
'말레이시아','미얀마','베트남','브루나이','싱가포르','인도네시아','캄보디아','태국','필리핀',\
'네팔','몰디브','방글라데시','부탄','스리랑카','아프가니스탄','인도','파키스탄','우즈베키스탄',\
'카자흐스탄','키르기스스탄','타지키스탄','투르크메니스탄','레바논','바레인','사우디아라비아',\
'시리아','아랍에미리트','아르메니아','아제르바이잔','예멘','오만','요르단','이라크','이란',\
'이스라엘','이집트','조지아','카타르','쿠웨이트','키프로스','튀르키예','팔레스타인','러시아',\
'동튀르키스탄','마카오','차고스제도','티베트','홍콩','남오세티야','북키프로스','아르차흐','공화국','압하지야']

In [8]:
erope=['헝가리','폴란드','그리스','스웨덴','스위스','네덜란드','노르웨이','슬로바키아',\
'슬로베니아','독일','덴마크','아이슬란드','라트비아','러시아','루마니아','룩셈부르크','리투아니아',\
'리히텐슈타인','마케도니아','안도라','알바니아','아일랜드','에스파냐','오스트리아','모나코','몬테네그로',\
'영국','몰도바','바티칸','벨기에','우크라이나','이탈리아','체코','크로아티아','포르투갈','벨라루스',\
'보스니아헤르체고비나','불가리아','산마리노','세르비아','에스토니아','프랑스','필란드','몰타']

In [9]:
oceania=['피지','팔라우','파푸아뉴기니','솔로몬제도','서사모아','바누아투','투발루','미크로네시아',\
'통가','키리바시','오스트레일리아','마셜제도','뉴질랜드','나우루']

In [10]:
america=['트리니다드토바고','파나마','쿠바','코스타리카','세인트빈센트그레나딘','벨리즈','바하마',\
'바베이도스','세인트루시아','캐나다','미국','자메이카','온두라스','엘살바도르','안티구아바부다','아이티',\
'세인트키츠네비스','멕시코','도미니카연방','그레나다','과테말라','니카라과','도미니카공화국','베네수엘라',\
'브라질','볼리비아','가이아나','수리남','에콰도르','우루과이','콜롬비아','칠레','파라과이','페루','아르헨티나']

In [11]:
africa=['나이지리아','기니비사우','기니','감비아','가봉','가나','콩고민주공화국','코트디부아르',\
'케냐','상투메프린시페','부르키나파소','부룬디','보츠와나','베냉','모잠비크','모리타니','카메룬',\
'차드', '카보베르데', '짐바브웨','지부티', '중앙아프리카공화국','모리셔스','모로코','말리','말라위',\
'마다가스카르','리비아','적도기니','잠비아','이집트','우간다','에티오피아','에리트레아','르완다','레소토',\
'라이베리아','니제르','앙골라','남수단','남아프리카공화국','알제리','시에라리온','스와질란드','수단','소말리아','세이셸',\
'나미비아','세네갈','서사하라','토고','탄자니아','튀니지','콩고민주공화국','콩고공화국','코모로']

In [12]:
land=[]


for i in wiki['국가']:
    if i in asia: land.append('asia')

    elif i in erope: land.append('erope')

    elif i in oceania: land.append('oceania')

    elif i in america: land.append('america')

    elif i in africa: land.append('africa')

    else: land.append('other')

In [13]:
wiki['land']=land

In [14]:
wiki.groupby('land').describe()

           인구                                                                \
        count          mean           std       min         25%         50%
land
africa   44.0  2.302755e+07  3.687448e+07   96762.0  3672744.25  12576323.5
america  29.0  3.502025e+07  7.318815e+07  108825.0  2726667.00   9158345.0
asia     53.0  8.831448e+07  2.716601e+08   53532.0  3723500.00   9981457.0
erope    36.0  1.296572e+07  1.997095e+07   33422.0  1767530.00   5630917.0
oceania  10.0  4.034582e+06  8.026096e+06   10200.0    38500.00    212300.0
other    69.0  8.895785e+06  2.503591e+07      46.0    35746.00    105300.0


                 75%           max
land
africa   25403017.75  2.167420e+08
america  32219521.00  3.348053e+08
asia     39127900.00  1.425881e+09
erope    10672641.25  8.388394e+07
oceania   3946044.25  2.537170e+07
other     1798506.00  1.458081e+08

In [15]:
wiki_sum=wiki.groupby('land').sum()
wiki_sum

C:\Users\y2kjd\AppData\Local\Temp\ipykernel_23096\908912040.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  wiki_sum=wiki.groupby('land').sum()

                 인구
land
africa   1013212194
america  1015587384
asia     4680667463
erope     466766019
oceania    40345817
other     613809188